# Add this to .bashrc: eval "$(direnv hook bash)"

alias shrubbery-lint='docker run --rm -it -v $PWD:/w -w /w --pull=always --entrypoint /bin/sh ghcr.io/altermarkive/shrubbery:latest -c "isort --check --diff src; black --check --diff src; flake8 src; mypy src"'
alias shrubbery-run='docker run --rm -it -v $PWD:/w -w /w --pull=always --gpus all -e NUMERAI_PUBLIC_ID -e NUMERAI_SECRET_KEY -e NUMERAI_MODEL -e WANDB_API_KEY -e WANDB_ENTITY -e WANDB_PROJECT -e HYDRA_FULL_ERROR=1 ghcr.io/altermarkive/shrubbery:latest'
alias shrubbery-debug='docker run --rm -it -v $PWD:/w -w /w --pull=always --gpus all -e NUMERAI_PUBLIC_ID -e NUMERAI_SECRET_KEY -e NUMERAI_MODEL -e WANDB_API_KEY -e WANDB_ENTITY -e WANDB_PROJECT -e HYDRA_FULL_ERROR=1 --entrypoint /bin/bash shrubbery'

source $(realpath $(dirname "$1"))/.env
